{

    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "blockBindings": true,
        "templateStrings": true
    },
    "rules": {
        "semi": 2,
        "no-console": 0
    },
    "env": {
        "browser": true
    }
}